/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&display=swap');


/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Full page layout */
html, body {
  width: 100%;
  height: 100%;
}


/* Main body font */
body {

  font-family: 'Inter', -apple-system, BlinkMacSystemFont,
               'Helvetica Neue', Helvetica, Arial, sans-serif;

  background: linear-gradient(
    135deg,
    #E8F5E9 0%,
    #F1F8E9 50%,
    #E8F5E9 100%
  );

  color: #2E7D32;

  line-height: 1.6;

  min-height: 100vh;

  overflow-x: hidden;

}


/* Root container */
#root {

  min-height: 100vh;

  width: 100%;

}


/* Headings use Playfair Display */
h1, h2, h3, h4, h5, h6 {

  font-family: 'Playfair Display', serif;

  font-weight: 600;

  color: #1B5E20;

}


/* Input fields */
input, textarea, select {

  font-family: 'Inter', sans-serif;

  font-size: 15px;

}


/* Buttons */
button {

  font-family: 'Inter', sans-serif;

  font-weight: 500;

}


/* Labels */
label {

  font-family: 'Inter', sans-serif;

  font-weight: 500;

}


/* Links */
a {

  font-family: 'Inter', sans-serif;

  text-decoration: none;

}


/* Placeholder styling */
input::placeholder {

  font-family: 'Inter', sans-serif;

  color: #888;

}
